html {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* margin-block-start: 70px; */
    
    max-width: 1440px;
    margin: auto;
}

.na {
    display: none;
}

header {
    box-sizing: border-box;
    min-width: 200px;
    font-weight: 400;
    border: 1px solid #98999A;
    display: flex;
    justify-content: center;
    padding: 25px;
    font-size:40px;
    color: #98999A;
    max-width: 300px;
}

.head {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }


.toggle-menuna {
    display: none;
}

.close div ul {
    display: flex;
}

.close div ul li {
    list-style: none;

}

.close div ul li a {
    text-decoration: none;
}

.butten {
    display: none;
}

.close{
    position: relative;
}

.content {
    padding: 0px;
    position: absolute;
    visibility: hidden;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);    
    width: 131px;
    left: -87px;
}

#hambuger:checked ~ .content {
    visibility: visible;
    z-index: 5;
}

/* [type="radio"]:checked ~ label ~ .close-tab {
    z-index: 3;
  } */

  .toggle-menu{
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    background-color:#FFFFFF99;
    /* backdrop-filter: blur(5px);  */
  }


  .nav_home_contact:hover .do {
    border: 1px solid #98999A;
}

.nav_home_gallery:hover .do {
    border: 1px solid #98999A;
}

.nav_home:hover .do {
    border: 1px solid #98999A;
}

.border_home:hover .do {
    border: 1px solid #98999A;
}


.nav a {
    text-decoration: none;
    color: #98999A;
}

.nav_home_gallery a{ 
    text-decoration: none;
    color: #98999A;
    font-size: 18px;
}


.border_home a {
    text-decoration: none;
    color: #98999A;
    font-size: 18px;
}

.nav_home_contact {
    border:none;
}

.nav_home_contact a {
    text-decoration: none;
    color: #98999A;
    font-size: 18px;
}        


.nav {
    margin: 5px 15px;
    padding: 8px 0px;
    font-size: 18px;
}

.arr i{
    border: 1px solid rgba(0,0,0,.1);
    padding: 4px 12px;
    color: rgba(0,0,0,.5);
    box-shadow: 0 0 5px #ccc;
    border-radius: 7px;
}


.left_side_layout {
    display: flex;
    background-color: #CA9ACD;
    font-size: 1.3rem;
    max-width: 100%;
    justify-content: center;
    margin-block-start: 80px;
    height: 250px;
    align-items: center;
    padding: 15px 25px 15px 15px;
}

.left_side_text {
    color: white;
    line-height: 1.9;
    text-align: right;
    width: 260px;
} 

.parallax {
    margin-block-start: 20px;
    background-image: url("blue-contem-girl.jpg");
    min-height: 444px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nunc {
    color: #669999;
    font-size: 28px;
    font-weight: 100;
    margin-block-end: 50px;
    margin-block-start: 50px;
}

.nunc_paragraph {
    color: #545a5a;
    font-size: 18px;
    line-height: 1.8;
}


.Quisque {
    background-image:url("image-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
    
} 


ul {
    list-style-type: none;
    padding-inline-start: 0px;

}



.plus::before {
    content: "+";
    margin-inline-end: 10px;
}

.Sed {
    background-image: url("image-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
}

.rss_feed {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 1px solid #BBBCBE;
    border-radius: 50%;
    justify-self: center;
    margin: 50px;
}

.center {
    display: flex;
    justify-content: center;
}

.Vivamus {
    font-size: 35px;
    font-weight: 300;
    color: #666769;
}

.block {
    display: block;
    /* padding-inline-end: 25px; */
    /* padding-inline-start: 25px; */

}

.vivamus_paragraph {
    display: block;
    color: #545a5a;
    font-size: 27px;
    line-height: 1.6;
    /* padding: auto; */

}

.border {
    border: 1px solid #BBBCBE;
    padding: 20px;
}


input {
    max-width:50%;
    min-height: 35px;
    font-size: 27px;
    padding: 15px;
    margin-block-end: 20px;
    border: 1px solid black;
}

::placeholder {
    font-size: 25px;
}

button {
    background-color: #659ACD;
    color: white;
    border: none;
    width: 150px;
    height: 70px;
    font-size: 20px;
    margin-block-end: 70px;
}


.foot {
    text-decoration: none;
    font-size: 16px;
    color: #555858;
    margin-block-start: 90px;
    margin-block-end: 90px;
    text-decoration: none;
    display: none;
}

.foot a {
    text-decoration: none;
    color:#555858 ;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hambuger {
    padding-block-start: 35px;
    padding-block-end: 35px;
    padding-inline-start: 35px;

}



@media screen and (min-width:661px) {
    .border {
        display: flex;

    }

    .block {
        display: block;
        padding-inline-end: 50px;
    }
}

@media screen and (min-width:767px) {
    .quisque_sed {
        display: flex;
        flex: 0 1 auto;
    }

    .full_quisque {
        width: 50%;
        margin-inline-end: 30px;
    }
    .full_sed {
        width: 50%;
        margin-inline-start: 30px;

    }
    .Sed {
        background-image: url("image-2.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 240px;

}


@media screen and (min-width:991px) 
{
    .full_flex {
        display: flex;
        flex-direction: row;
    }

    .left_side_layout {
        max-width: 28.56%;
        height: 444px;
        margin-inline-end: 10px;
        box-sizing: content-box;

    }

    .right_flex {
        width: 70%;
    }

    .parallax {
        margin-block-start: 80px;
        background-image: url("media.jpg");
        min-height: 474px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .left_side_text {
        align-self: center;
        padding-left: 030px;
        padding-right: 30px;
    }
    

    .close {
        display: none;
    }

    .toggle-menuna {
        display: flex;

    }

    .nav a {
        text-decoration: none;
        color: #98999A;
    }
    
    .nav_home_gallery a{ 
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }
    
    .nav_home_gallery:hover .do {
    border: 1px solid #98999A;
    }
    
    .border_home:hover .do {
        border: 1px solid #98999A;
    }
    
    .border_home a {
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }
    
    .nav_home_contact {
        border:none;
    }
    
    .nav_home_contact:hover .do {
        border: 1px solid #98999A;
    }
    
    .nav_home_contact a {
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }        
    
    
    .nav {
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }
    
    /* .nav_home {
        border: 1px solid #98999A;
    } */

    .toggle-menuna {
        list-style-type:none;
        display: flex;
        text-decoration: none;
        align-items: center;
        flex-direction: row;
    }

    .head {
        display: flex;
        align-items: center;
        margin-top: 40px;
        justify-content: space-between;
    }

    .nav a {
        text-decoration: none;
        color: #98999A;
    }

    .nav_home_gallery a{ 
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
   }

   .nav_home_gallery:hover .do {
    border: 1px solid #98999A;
    }

    .border_home:hover .do {
        border: 1px solid #98999A;
    }

   .border_home a {
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
        border: 1px solid #98999A;

    }


    .nav_home_contact {
        border:none;
    }

    .nav_home_contact:hover .do {
        border: 1px solid #98999A;
    }

    .nav_home_contact a {
        text-decoration: none;
        color: #98999A;
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }        


    .nav {
        padding: 15px 20px;
        font-size: 18px;
        margin-inline-start: 25px;
        margin-inline-end: 25px;
    }


   


}
}